<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<div id="friends"  class:"row">
  <% @friends.each do |friend| %>
    <%= render friend %>
 
    
  
  <% end %>
</div>
<br/>

<%= link_to "New friend", new_friend_path ,class:"btn btn-primary"%>
